<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>
  <div class='card-body'>
    <div class='row'>
      <div class='col-md-2'>Filter by:</div>
      <div class='col-md-4'>
        <input type='text' 
        [(ngModel)] ='listFilter'
        
        />
      </div>
    </div>
    <div class='row'>
      <div class='col-md-6' >
        <h4>Filtered by: {{listFilter}}</h4>

      </div>
    </div>
    <div class='table-responsive'>
      <table class='table' *ngIf='products.length'>
        <thead>
          <tr>
            <th>
              <button class='btn btn-primary' (click)="toggleImage()">
                Show Image
              </button>
            </th>
            <!-- <th>Product ID</th> -->
            <th>Product</th>
            <th>Code</th>
            <th>Description</th>
            <th>type</th>
            <th>Quantity Available</th>
            <!-- <th>Purchase Price</th> -->
            <th>Selling Price</th>
            <th>Unit</th>
            <th>Purchase Date</th>
            <th>5 Star Rating</th>
            <!-- <th>Amount</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let product of filteredProducts'>
            <td>
              <img *ngIf="showImage" [src]="product.imageUrl" [title]="product.productName" width="100" height="100" margin="2px">
            </td>
           
            <!-- <td>{{ product.productId }}</td> -->
            <td>
             
              <a [routerLink]="['/products', product.productId]" class="nav-link">{{product.productName}}</a>
 

            </td>
            <td>{{ product.productCode | lowercase | converter:'-' }}</td>
            
            
            <td>{{ product.description }}</td>
            <td>{{ product.productType }}</td>
            <td>{{ product.quantity }}</td>
            
            <!-- <td>{{ product.pPrice | currency : 'INR' : 'symbol' :'1.2-2' }}</td> -->
            <td>{{ product.sPrice | currency : 'INR' : 'symbol' :'1.2-2' }}</td>
            
            <td>{{ product.unit }}</td>
      
            
            <td>{{ product.purchaseDate }}</td>
           
           
            <td>
              <pm-star [rating] = "product.starRating"
             
              >
              </pm-star>
            </td>
            <!-- <td>{{ product.amount }}</td> -->
          </tr>
        </tbody>
      </table>
     
    </div>

  </div>

</div>