<div class='table-responsive' > <button style="margin-bottom: 40px;" class='btn btn-primary' (click)="onBack()">
  Go Back
</button>
  <div class="card" style="width: 600px;height: 600px;">
    <img src={{product.imageUrl}} [title]="product.productName" width="150" height="150" margin="2px" class="card-img-top" alt="...">
    <div class="card-body text-center">
      <label style="color: brown;">Product name : </label><h5 class="card-text">{{product.productName}}</h5>
      <label style="color: brown;">Product release date : </label><h5 class="card-text">{{ product.purchaseDate }}</h5>
      <label style="color: brown;">Purchase Price : </label><h5 class="card-text">{{ product.pPrice | currency : 'INR' : 'symbol' :'1.2-2' }}</h5>
      <label style="color: brown;">Selling Price : </label><h5 class="card-text">{{ product.sPrice | currency : 'INR' : 'symbol' :'1.2-2' }}</h5>
      <label style="color: brown;">Product Rating : </label><h5 class="card-text">{{product.starRating}}</h5>
      <label style="color: brown;">Product description : </label><p class="card-text">{{product.description}}</p>
      <a href="./products" class="btn btn-primary">Add to Cart</a>
     
    </div>
  </div>






</div>